# İleri Seviye Sayılar
Bu konuda sayı veritiplerini biraz daha derinlemesine incelemeye ve sayılar üzerinde uygulanabilen yararlı fonksiyonları öğrenmeye çalışacağız. 


Bazen programlamada sayılarımızı 10'luk taban haricinde 2'lik(binary) ve 16'lık(hexadecimal) tabanda göstermek ve kullanmak isteyebiliriz.

10'luk tabandaki sayıları 2'lik ve 16'lık tabanda göstermeye başlamadan önce şu linklerden 2'lik(binary) ve 16'lık(hexadecimal) tabanları incelemenizi tavsiye ediyorum.

https://www.turkcebilgi.com/ikili_(binary)_say%C4%B1_sistemleri

http://www.blogkafem.net/2014/01/sayi-sistemleri.html

Şimdi isterseniz 10'luk tabandaki bir sayıyı ikilik tabana çevirmek için kullanılan ***bin()*** fonksiyonuna bakalım.

In [6]:
bin(4) # bin fonksiyonu . Sayımız 2'lik tabanda yazıldı. (1 ve 0)

'0b100'

In [8]:
bin(19) # bin fonksiyonu . Sayımız 2'lik tabanda yazıldı. (1 ve 0)

'0b10011'

In [10]:
bin(521) # bin fonksiyonu . Sayımız 2'lik tabanda yazıldı. (1 ve 0)

'0b1000001001'

Şimdi de 10'luk tabandaki bir sayıyı 16'lık tabana çevirmek için kullanılan **hex()** fonksiyonuna bakalım.

In [12]:
hex(32) # Sayımız 16'lık tabanda yazıldı.

'0x20'

In [14]:
hex(54) # Sayımız 16'lık tabanda yazıldı.

'0x36'

In [15]:
hex(1212) # Sayımız 16'lık tabanda yazıldı.

'0x4bc'

### Fonksiyonlar

#### abs fonksiyonu

Sayının mutlak değerini almamızı sağlar.

In [16]:
abs(-4)

4

In [17]:
abs(4.5)

4.5

In [18]:
abs(0)

0

In [19]:
abs(-10)

10

#### round fonksiyonu

Sayıları alta veya üste yuvarlar.

In [20]:
round(3.7)

4

In [21]:
round(3.2)

3

In [22]:
round(3)

3

In [26]:
round(3.21329321321323,4) # Ondalıklı sayının 4. hanesine göre yuvarlar

3.2133

In [27]:
round(3.21324321321323,4) # Ondalıklı sayının 4. hanesine göre yuvarlar

3.2132

#### max ve min fonksiyonu



***max()*** fonksiyonu verdiğimiz değerlerin en büyüğünü döndürür.

***min()*** fonksiyonu verdiğimiz değerlerin en küçüğünü döndürür.

In [33]:
max(3,4) # İstediğimiz kadar değer verebiliriz.

4

In [34]:
max(100,-2,3,4,1,131)  # İstediğimiz kadar değer verebiliriz.

131

In [36]:
max([13.2,-4.32,1.2,15.6]) # Sayıları liste şeklinde de verebiliriz.

15.6

In [38]:
max((13.2,-4.32,1.2,15.6)) # Sayıları demet şeklinde de verebiliriz.

15.6

In [39]:
min(3,4)

3

In [40]:
min(100,-2,3,4,1,131)

-2

#### sum fonksiyonu

***sum() fonksiyonu*** verilen değerleri toplayarak döndürür. Değerlerin liste,demet vb. şeklinde verilmesi gerekir.

In [43]:
sum(3,4)

TypeError: 'int' object is not iterable

In [44]:
sum([3,4,5,6,7])

25

In [46]:
sum((3,4))

7

#### pow fonksiyonu

***pow() fonksiyonu***  üs alma işlemlerinde kullanılır.

In [47]:
pow(2,4) # 2 üzeri 4

16

In [48]:
pow(3,4) # 3 üzeri 4

81

In [50]:
pow(17,2) # 17 üzeri 2

289