<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class <br>30 May 2022</p><h1>

In [40]:
for i in "ali" : 
    print(i)

a
l
i

In [41]:
for i in 5 :
    print(i)

TypeError: 'int' object is not iterable

In [42]:
word = input("Give me a word :")

for i in word :
    print(i, end = "-")

Give me a word :Clarusway
C-l-a-r-u-s-w-a-y-

In [ ]:
word = input("Give me a word :")
counter = 0

for i in word :
    counter += 1
    print(i, end = "-")
    if counter < len(word) :

In [43]:
"c" + "-"

'c-'

In [44]:
i = "c"

In [45]:
i += "-"

In [46]:
i

'c-'

In [47]:
word = input("Give me a word :")
counter = 0

for i in word :
    counter += 1
    if counter < len(word) :
        i += "-"
    print(i, end = "")

Give me a word :clarusway
c-l-a-r-u-s-w-a-y

In [48]:
user = {
    "name" : "Daniel",
    "suname" : "Smith",
    "age" : 35
}

In [49]:
"Daniel" in user

False

In [50]:
"name" in user

True

In [51]:
for i in "abc" :
    print("hello")

hello
hello
hello

In [52]:
test = [(1,2), (3,4), (5,6)]

In [53]:
for i, j in test :
    print(i, j)

1 2
3 4
5 6

In [58]:
test2 = [(1,2,11), (3,4,12), (5,6,13)]

In [56]:
for i, j, t in test2 :
    print(i, j, t)

1 2 11
3 4 12
5 6 13

In [57]:
["ali", "deli", "veli"]

['ali', 'deli', 'veli']

In [59]:
for i in test2 :
    print(i)

(1, 2, 11)
(3, 4, 12)
(5, 6, 13)

In [60]:
number = int(input("Enter a number between 1-10 :"))

Enter a number between 1-10 :5

In [61]:
number = int(input("Enter a number between 1-10 :"))
for i in range(11) :
    print(f"{number} x {i} = {number * i}")

Enter a number between 1-10 :5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [62]:
print(range(10, 1))

range(10, 1)

In [63]:
print(range(10, 1, -1))

range(10, 1, -1)

In [64]:
print(* range(10, 1, -1))

10 9 8 7 6 5 4 3 2

In [65]:
print(* "EdwinDavis")

E d w i n D a v i s

```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [66]:
"5" * 5

'55555'

In [67]:
"ali" * 3

'alialiali'

In [68]:
"ali " * 3

'ali ali ali '

In [69]:
for i in range(1, 10) :
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [70]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [72]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [73]:
print(* range(11))

0 1 2 3 4 5 6 7 8 9 10

In [74]:
text = ["one", "two", "three", "four", "five"]

In [75]:
numbers = [1, 2, 3, 4, 5]

In [76]:
zipped = zip(text, numbers)

In [77]:
zipped

In [78]:
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [79]:
list(zipped)

[]

In [80]:
zipped = zip(text, numbers)

In [81]:
list(zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [82]:
print(* zipped)

In [83]:
zipped = zip(text, numbers)

In [84]:
for x, y in zipped :
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [85]:
print(* zipped)

In [86]:
zipped = zip(text, numbers)

In [87]:
dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [88]:
a = [1,2,3]
b=["1","2","3"]
c=[True, False, True]

print(* zip(a, b, c))

(1, '1', True) (2, '2', False) (3, '3', True)

In [89]:
a = [1,2,3]
b=["1","2","3"]
c=[True, False]

print(* zip(a, b, c))

(1, '1', True) (2, '2', False)

In [91]:
evens = []
odds = []

In [93]:
for n in range(10) :
    
    if n % 2 == 0 :
        evens.append(n)
    else : 
        odds.append(n)
print("evens :", evens)
print("odds :", odds)

evens : [0, 2, 4, 6, 8, 0, 2, 4, 6, 8]
odds : [1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [94]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)

In [95]:
evens = 0
odds = 0

for i in numbers : 
    if i % 2 == 0 :
        evens += 1
    else :
        odds += 1
print("Evens count :", evens)
print("Odds count :", odds)

Evens count : 5
Odds count : 4

In [96]:
tuple(range(1, 8))

(1, 2, 3, 4, 5, 6, 7)

In [97]:
mon, tue, wed, thu, fri, sat, sun = tuple(range(1, 8))

In [98]:
mon

1

In [99]:
fri

5

In [100]:
mytuple = ("apple", "banana", "cherry")

In [101]:
green, yellow, red = mytuple

In [ ]:
green, yellow, red = ("apple", "banana", "cherry")

In [103]:
[1, 2, 3] + ["ali", "veli"] + [4]

[1, 2, 3, 'ali', 'veli', 4]

In [104]:
a, b = (10, 20, 30, 40)

ValueError: too many values to unpack (expected 2)

In [105]:
a, _, b, _ = (10, 20, 30, 40)

In [106]:
a

10

In [107]:
b

30

In [108]:
_

40

In [109]:
x, y, z = (11, 22, 33, 44, 55)

ValueError: too many values to unpack (expected 3)

In [ ]:
x, y, z = (11, 22, 33, 44, 55)

In [110]:
x, y, *z = (11, 22, 33, 44, 55)

In [111]:
x

11

In [112]:
y

22

In [113]:
z

[33, 44, 55]

In [114]:
x, y, *_ = (11, 22, 33, 44, 55)

In [115]:
x

11

In [116]:
x, y, *z, t = (11, 22, 33, 44, 55, 66, 77)

In [117]:
t

77