In [1]:
for x in set('pqr') :
  print(x*2)

pp
rr
qq

In [2]:
d1 = {}
d2 = {"john" : 40, "peter" : 45}
d3 = {40 : "john", 45 : "peter"}

print(type(d1), type(d2), type(d3))

<class 'dict'> <class 'dict'> <class 'dict'>

In [3]:
d = {"john":40, "peter":45}
d["john"]

40

In [4]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

In [5]:
a={}
a['a']=1
a['b']=[2,3,4]
print(a)

{'a': 1, 'b': [2, 3, 4]}

In [6]:
{'a': 1, 'b': [2, 3, 4]} == {'b': [2, 3, 4], 'a': 1}

True

In [7]:
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
print(z)

{'san', 'p', 'q', 'a', 'c', 'b'}

In [9]:
count, fruit, price = (2, 'apple', 3.5)
count

2

In [10]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]