In [2]:
fruits = {'Apples' : 5, 'Oranges' : 3, 'Bananas' : 4}

In [3]:
liste = []
for x in fruits.keys() :
  liste.append(x)
print(liste)

['Apples', 'Oranges', 'Bananas']

In [6]:
fruits_name = [x for x in fruits.keys()]
fruits_name

['Apples', 'Oranges', 'Bananas']

In [13]:
i = 5
while True :
  if i % 0xe == 0 :
    break
  print(i)
  i += 1

5
6
7
8
9
10
11
12
13

In [15]:
print(0xe)

14

In [15]:
x = 'abcd'
for i in range(len(x)) :

  i[x].upper()
print(x)

In [17]:
x = 'abcd'
for i in range(len(x)) :

  x[i].upper()
print(x)
print(x.upper())

abcd
ABCD

In [18]:
k = [2, 3, 4]
print(reversed(k))

<list_reverseiterator object at 0x7f30b86228d0>

In [19]:
list(reversed(k))

[4, 3, 2]

In [20]:
[*reversed(k)]

[4, 3, 2]

In [21]:
numbers = [*range(1,6)]
list(map(lambda number: number ** 2, numbers))

[1, 4, 9, 16, 25]

In [22]:
numbers = [*range(1,6)]
list(filter(lambda x : x if x % 2 == 0 else None, numbers))

[2, 4]