In [ ]:
# To improve your boolean logic and arithmetic operator algorithm skills.
# Using the all following items once each, set a correct boolean expression
# that returns write me. Use the print() function to display the result.

# 0
# and
# not
# "write me"

# Birinci Çözüm
print(not 0 and "write me")

# İkinci Çözüm
print(0 or "write me" or not False and True)

write me
write me

In [ ]:
# Write a function

# We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary, day and we add it to the shortest
# month of the year, February. 
# In the Gregorian calendar three criteria must be taken into account to identify leap years:
# The year can be evenly divided by 4;
# If the year can be evenly divided by 100, it is NOT a leap year, unless;
# The year is also evenly divisible by 400. Then it is a leap year.

# This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT
# leap years.

# Task 
# You are given the year, and you have to write a function to check if the year is leap or not.
# Note that you have to complete the function and remaining code is given as template.

# Input Format
# Read y, the year that needs to be checked.

# Constraints
# 1900 <= y <= 10**5

# Output Format
# Output is taken care of by the template. Your function must return a boolean value (True/False)

def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%400==0 :
        leap = True
    elif year%4 == 0 and year%100 != 0:
        leap = True
    return leap

year = int(input())
print(is_leap(year))

1983
False

In [ ]:
# KENDİ ÇÖZÜMÜM

# To improve your boolean logic algorithm and truth value skills.
# Find out if a given year is a "leap" year.

# In the Gregorian calendar, three criteria must be taken into account to
# identify leap years:

# The year must be evenly divisible by 4;
# If the year can also be evenly divided by 100, it is not a leap year;
# unless...(next one)
# The year is also evenly divisible by 400. Then it is a leap year.
# According to these rules, the years 2000 and 2400 are leap years, while 1800,
# 1900, 2100, 2200, 2300, and 2500 are not the leap years.

# Write a Python program that;

# Takes a 4-digit year from the user,
# Prints True if the given year by the user is a leap year, prints False
# otherwise.
# Note that; this question is famous on the web, so that do it yourself to get
# more benefits from it.

year = int(input("Lütfen artık yıl olup olmadığını kontrol etmek istediğiniz\
 yılı girin: "))

if year % 400 == 0:
  print("{} yılı artık yıldır. {} yılında Şubat ayı 29 gündür. {}".format(year,\
 year, True))
elif year % 4 == 0 and year % 100 != 0:
  print("{} yılı artık yıldır. {} yılında Şubat ayı 29 gündür. {}".format(year,\
 year, True))
else:
  print("{} yılı artık yıl değildir. {} yılında Şubat ayı 28 gündür. {}".format\
(year, year, False))

Lütfen artık yıl olup olmadığını kontrol etmek istediğiniz yılı girin: 1983
1983 yılı artık yıl değildir. 1983 yılında Şubat ayı 28 gündür. False

In [ ]:
# ALTERNATİF ÇÖZÜM-3
year = int(input("Lütfen girmek istediğiniz yılı yazınız: "))
print(year % 4 == 0 and year % 100 != 0 or year % 400 == 0)

Lütfen girmek istediğiniz yılı yazınız: 1984
True

In [ ]:
# ALTERNATİF ÇÖZÜM-4
year = int(input("give me a year"))

rule_1 = int(year%4)
rule_2 = int(year%100)
rule_3 = int(year%400)
print(rule_1)

if rule_1==0 and rule_2!=0 or rule_3==0 :
    print("This is leap year")
    
else :
    print("This is not leap year")

give me a year1900
0
This is not leap year

In [ ]:
# ALTERNATİF ÇÖZÜM-5
year = int(input("Yılı giriniz: "))
if len(str(year)) == 4:
  if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print(True)
  else:
    print(False)
else:
  print("Girdiğiniz sayı 4 haneli değildir.")

Yılı giriniz: 1984
True

In [ ]:
cost_value = 31.87
sell_value = 45.00
inventory = 1000
# the profit will be : 13130

profit = (sell_value - cost_value) * inventory
print("Kârınız {:.0f}".format(profit))

Kârınız 13130

In [ ]:
# İstenen Çözüm

sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}

profit = (sales["sell_value"] - sales["cost_value"]) * sales["inventory"]
print("Kârınız {:.0f} dolar ($)".format(profit))

Kârınız 13130 dolar ($)

In [ ]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}

print(round((sales["sell_value"] - sales["cost_value"]) * sales["inventory"]))

13130

In [ ]:
worker_salary = {
  "fatih": 7650,
  "emre": 7605.3278,
  "cemile": 7610.25,
  "melek": 7615.1,
  "hayri": 7620.333
}

print("Never Give Up Çalışanları Maaş Bordrosu\nFatih\t: ${:.2f}\
\nEmre\t: ${:.2f}\nCemile\t: ${:.2f}\nMelek\t: ${:.2f}\nHayri\t: ${:.2f}".\
format(worker_salary["fatih"], worker_salary["emre"], worker_salary["cemile"],\
worker_salary["melek"], worker_salary["hayri"]))

Never Give Up Çalışanları Maaş Bordrosu
Fatih	: $7650.00
Emre	: $7605.33
Cemile	: $7610.25
Melek	: $7615.10
Hayri	: $7620.33

In [ ]:
# Hocanın Çözümü
money = float(input("What is your payroll?"))
print("{:.2f}".format(money))

What is your payroll?45679.6549
45679.65