In [1]:
liste = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x, y, *z = liste
print(z)

[3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
liste = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x, y, *_ = liste
print(_)

[3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
_ = 5
print(_)

5

In [4]:
liste = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
liste.pop()
print(liste)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
liste = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
liste.extend([1, 2, 3])
liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [7]:
liste.extend("fener")
liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 'f', 'e', 'n', 'e', 'r']

In [8]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [9]:
std = ["ahmet", "tarık", "müzeyyen"]

new_std = list(enumerate(std,9000))
print(new_std)

[(9000, 'ahmet'), (9001, 'tarık'), (9002, 'müzeyyen')]

In [15]:
list1 = [1,2,3]
list2 = ["a","a","a","a","e"]
print(list(zip(list1,set(list2))))

[(1, 'a'), (2, 'e')]

In [11]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
# Desired output
[('Apples', 5, 1.50),
('Oranges', 3, 2.25),
('Bananas', 4, 0.89)]

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [14]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]

print(list(zip(fruits, quantities, prices)))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [16]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [17]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
 temp_qty = quantities[i]
 temp_price = prices[i]
 output.append((fruit, temp_qty, temp_price))
 i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]