<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>11 November 2021</p><h1>

In [ ]:
while condition1 :
    body
    while condition2 :
        body
        break
        
    break

In [1]:
for i in range(5) :
    print(i)

0
1
2
3
4

In [2]:
i

4

In [3]:
range(11)

range(0, 11)

In [5]:
for i in range(11) :
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9 10

In [6]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
print(* range(11))

0 1 2 3 4 5 6 7 8 9 10

In [10]:
print(range(11))

range(0, 11)

In [12]:
word = input("Give me a word : ")

counter = 0
for i in word :
    
    counter += 1
    
    if counter < len(word) :
        i = i + "-"
    print(i, end = "")

Give me a word : clarusway
c-l-a-r-u-s-w-a-y

In [14]:
user = {
	'name':'Daniel',
	'surname':'Smith',
	'age':35
}

for i, j in user.items():
	print(i, j)

name Daniel
surname Smith
age 35

In [15]:
test = [(1,2), (3,4), (5,6)]

In [16]:
for i, j in test :
    print(i, j)

1 2
3 4
5 6

In [17]:
numara = int(input("enter a number between 1-9"))

for i in range(11) :
    print("{}x{} = ".format(numara, i), numara * i)

enter a number between 1-95
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [20]:
for i in range(1,10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [18]:
"5" * 5

'55555'

In [19]:
"ali " * 3

'ali ali ali '

In [22]:
print(* range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [23]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]

In [24]:
zipped = zip(text, numbers)

In [25]:
zipped

In [26]:
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [29]:
zipped = zip(text, numbers)

In [30]:
for x, y in zipped:
	print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [31]:
print(* zipped)

In [32]:
zipped = zip(text, numbers)

In [33]:
list(zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [34]:
zipped = zip(text, numbers)

In [35]:
dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [36]:
evens = []
odds = []

for n in range(10) :
    
    if n % 2 == 0 :
        evens.append(n)
    else :
        odds.append(n)
        
print("evens : ", evens)
print("odds : ", odds)

evens :  [0, 2, 4, 6, 8]
odds :  [1, 3, 5, 7, 9]

In [37]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)

In [39]:
odds = 0
evens = 0

for i in numbers :
    
    if i % 2 == 0 :
        evens += 1
    else :
        odds += 1
        
print("evens count :", evens)
print("odds count : ", odds)

evens count : 5
odds count :  4