In [1]:
def who(first, last) :
  print("Your first name is: ", first)
  print("Your last name is: ", last)

who("Guido", "van Rossum")
print()
who("Marry", "Bold")

Your first name is:  Guido
Your last name is:  van Rossum

Your first name is:  Marry
Your last name is:  Bold

In [2]:
who("Joseph")

TypeError: ignored

In [3]:
def pos_args(a, b) :
  print(a, "is the first argument")
  print(b, "is the second argument")

pos_args(3,4)
print()
pos_args(4,3)

3 is the first argument
4 is the second argument

4 is the first argument
3 is the second argument

In [10]:
a = "i"
b = "love"
c = "you"

def texter(w1, w2, w3) :
  print(w2, w3, w1)

texter(c, a, b)

i love you

In [14]:
texter(w1="you", w3="love", w2="i")

i love you

In [15]:
texter(w2="i", w1="you", w3="love")

i love you

In [12]:
def who(first, last) :
  print("Your first name is:", first)
  print("Your last name is:", last)

who(first='Guido', last='van Rossum')

Your first name is: Guido
Your last name is: van Rossum

In [13]:
who(last='van Rossum', first='Guido')

Your first name is: Guido
Your last name is: van Rossum

In [ ]:
def func(x="Ali", y = 11) :
  body

In [18]:
def fonksiyon(x = "Ali", y = 22) :
  print(x, y, "yaşındadır.")

**Ö N E M L İ**

In [19]:
fonksiyon()

Ali 22 yaşındadır.

In [21]:
fonksiyon(x = "Veli", y = 33)

Veli 33 yaşındadır.

In [23]:
fonksiyon(y = 33, x = "Veli")

Veli 33 yaşındadır.

In [22]:
fonksiyon("Metin", 40)

Metin 40 yaşındadır.

In [24]:
fonksiyon("Selin")

Selin 22 yaşındadır.

**- - - - - - - - - - - - - - - - - -**

In [26]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [27]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [28]:
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [29]:
parrot("a million", "bereft of life", "jump")

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [30]:
parrot("a thousand", state = "pushing up the daisies")

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [31]:
parrot()

TypeError: ignored

In [32]:
parrot(voltage = 5, "dead")

SyntaxError: ignored

In [33]:
parrot(state = "ball", "a billion")

SyntaxError: ignored

In [34]:
def argu(a, b = "dünya", c, d = "satürn") :
  print(a, b, c, d, sep = "\n")

SyntaxError: ignored

In [35]:
def argu(a, c, b = "dünya", d = "satürn") :
  print(a, b, c, d, sep = "\n")

In [36]:
argu(5,10)

5
dünya
10
satürn

In [37]:
argu()

TypeError: ignored

In [38]:
argu("uranüs", "jüpiter")

uranüs
dünya
jüpiter
satürn

In [39]:
def argu(a, c, b = "dünya", d = "satürn") :
  print(a, b, c, d, sep = "\n")

In [40]:
argu(a = "uranüs", c = "jüpiter")

uranüs
dünya
jüpiter
satürn

In [41]:
argu("plüto", c = "venüs", "mars")

SyntaxError: ignored

In [43]:
argu("plüto", "mars", c = "venüs")

TypeError: ignored

In [44]:
argu("plüto", "mars")

plüto
dünya
mars
satürn

In [45]:
argu(d = "güneş", a = "dünya", c = "plüto", b = "venüs")

dünya
venüs
plüto
güneş

In [46]:
argu("güneş", "dünya", "plüto", "venüs")

güneş
plüto
dünya
venüs