In [2]:
# This is a Exception Error

print("Hello")
print(Hello)

Hello

NameError: ignored

In [3]:
# This is a Syntax Error

print("Hello")
print(Hello

SyntaxError: ignored

In [4]:
print("Here we go!")
print("I will be the second text")
a = "3"
b = 5
print("It is time for an error message :(")
print(a + b)
print("Sorry, but I won't be printed")

Here we go!
I will be the second text
It is time for an error message :(

TypeError: ignored

In [5]:
print(int("ten"))

ValueError: ignored

In [9]:
int("on")

ValueError: ignored

In [10]:
int("10")

10

In [11]:
import math

In [12]:
math.sqrt(-100)

ValueError: ignored

In [13]:
math.factorial(1.3)

ValueError: ignored

In [14]:
math.sqrt(25)

5.0

In [15]:
math.factorial(4)

24

In [16]:
math.factorial(-4)

ValueError: ignored

In [17]:
math.log10(100)

2.0

In [18]:
math.log10(-100)

ValueError: ignored

In [19]:
faktoriyel = 1 # default değer
sayi = int(input("Faktöriyelini hesaplamak istedğiniz sayıyı giriniz: "))
if sayi < 0 :
  print("Lütfen pozitif bir sayı giriniz: ")
elif sayi == 0 :
  print("0! = 1")
else :
  for i in range(sayi, 0, -1) :
    faktoriyel *= i

print(f"{sayi} sayısının faktoriyeli > {sayi}! = {faktoriyel}")

Faktöriyelini hesaplamak istedğiniz sayıyı giriniz: 5
5 sayısının faktoriyeli > 5! = 120

In [27]:
def recursive_factorial(x):  
   if x == 0 or x == 1:  
       return 1  
   else:  
       return x * recursive_factorial(x-1)
recursive_factorial(5)

120

In [28]:
print(variable)
variable = "Don't ever give up!"

NameError: ignored

In [29]:
print(hello)

NameError: ignored

In [30]:
b = "string value 1"
c = "string value 1"
print(b)
print(C)

string value 1

NameError: ignored

In [31]:
for i in range('x') :
  print(i)

TypeError: ignored

In [32]:
print(2 + "2")

TypeError: ignored

In [34]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    division = no_one / no_two
    print("The result of the division is : ", division)
    break

The first number please : 7
The second number please : 1
The result of the division is :  7.0

In [35]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    division = no_one / no_two
    print("The result of the division is : ", division)
    break

The first number please : 7
The second number please : 0

ZeroDivisionError: ignored

In [36]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try :
      division = no_one / no_two
      print("The result of the division is : ", division)
      break
    except :
      print("Something is wrong. Enter again")

The first number please : 7
The second number please : 0
Something is wrong. Enter again
The first number please : 7
The second number please : 1
The result of the division is :  7.0

In [38]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try :
      division = no_one / no_two
      print("The result of the division is : ", division)
      break
    except ZeroDivisionError :
      print("You tried to divide by zero. Enter again and don't use zero.")

The first number please : 7
The second number please : 0
You tried to divide by zero. Enter again and don't use zero.
The first number please : 7
The second number please : 1
The result of the division is :  7.0

In [39]:
try :
  print(4 + "4")

except :
  print("Muhtemelen yanlış bir şeyler yaptın.")

Muhtemelen yanlış bir şeyler yaptın.

In [40]:
try :
  print("4" + "4")

except :
  print("Muhtemelen yanlış bir şeyler yaptın.")

44

In [42]:
file = open("my_file.txt", "r")
print(file.read())
file.close()

FileNotFoundError: ignored

In [44]:
try :
  file = open("my_file.txt", "r")
  print(file.read())
  file.close()
except FileNotFoundError:
  print("There is not such a file or the path is incorrect.")

There is not such a file or the path is incorrect.

In [45]:
try :
  a = 4 + "4"
  file = open("my_file.txt", "r")
  print(file.read())
  file.close()
except FileNotFoundError:
  print("There is not such a file or the path is incorrect.")

TypeError: ignored

In [46]:
try :
  a = 4 + "4"
  file = open("my_file.txt", "r")
  print(file.read())
  file.close()
except FileNotFoundError:
  print("There is not such a file or the path is incorrect.")

except TypeError:
  print("The type is incorrect.")

The type is incorrect.

In [ ]:
try :
  a = 4 + "4"
  file = open("my_file.txt", "r")
  print(file.read())
  file.close()
except FileNotFoundError:
  print("There is not such a file or the path is incorrect.")

except TypeError:
  print("The type is incorrect.")

In [47]:
try :
  sonuc = "4" + "5"
  print("hello")

except TypeError :
  print("Type hatası var. Tipi kontrol etsen iyi olur.")

else :
  print("Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper", sonuc)

finally :
  print("Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.")

hello
Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper 45
Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.

In [49]:
try :
  print("hello universe")
  sonuc = 4 + "5"
  print("hello")

except TypeError :
  print("Type hatası var. Tipi kontrol etsen iyi olur.")

else :
  print("Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper", sonuc)

finally :
  print("Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.")

hello universe
Type hatası var. Tipi kontrol etsen iyi olur.
Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.

In [50]:
try :
  print("hello universe")
  sonuc = 4 + "5"
  print("hello")

except ValueError :
  print("Type hatası var. Tipi kontrol etsen iyi olur.")

else :
  print("Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper", sonuc)

finally :
  print("Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.")

hello universe
Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.

TypeError: ignored

In [51]:
try :
  print("hello universe")
  sonuc = 4 + "5"
  print("hello")

except :
  print("Type hatası var. Tipi kontrol etsen iyi olur.")

else :
  print("Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper", sonuc)

finally :
  print("Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.")

hello universe
Type hatası var. Tipi kontrol etsen iyi olur.
Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.

In [52]:
try :
  print("hello universe")
  sonuc = 4 + "5"
  print("hello")

except ValueError:
  print("Value Error'e göre işlem yap. Kod yaz.")

except TypeError :
  print("Type Error'e göre işlem yap. Kod yaz.")

except ZeroDivisionError :
  print("ZeroDivison Error'e göre işlem yap. Kod yaz.")

else :
  print("Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper", sonuc)

finally :
  print("Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.")

hello universe
Type Error'e göre işlem yap. Kod yaz.
Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.

In [53]:
try :
  print("hello universe")
  sonuc = 4 / 0
  print("hello")

except ValueError:
  print("Value Error'e göre işlem yap. Kod yaz.")

except TypeError :
  print("Type Error'e göre işlem yap. Kod yaz.")

except ZeroDivisionError :
  print("ZeroDivison Error'e göre işlem yap. Kod yaz.")

else :
  print("Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper", sonuc)

finally :
  print("Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.")

hello universe
ZeroDivison Error'e göre işlem yap. Kod yaz.
Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.

In [54]:
try :
  print("hello universe")
  sonuc = 4 / 4
  print("hello")

except ValueError:
  print("Value Error'e göre işlem yap. Kod yaz.")

except TypeError :
  print("Type Error'e göre işlem yap. Kod yaz.")

except ZeroDivisionError :
  print("ZeroDivison Error'e göre işlem yap. Kod yaz.")

else :
  print("Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper", sonuc)

finally :
  print("Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.")

hello universe
hello
Aaa demek ki hata yükselmemiş. Try içerisinde exception yok. Süper 1.0
Eh nihayet bana sıra geldi. Eninde sonunda çalışırım arkadaş.

![image (1).png]()

In [55]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two  # normal part of the program
    except ZeroDivisionError:
        print("You can't divide by zero! Try again.")  # executes when division by zero
    else:
        print("The result of the division is : ", division)  # executes if there is no exception
    finally:
        print("Thanks for using our mini divison calculator! Come again!")
        break  # exits the while loop

The first number please : 5
The second number please : 2
The result of the division is :  2.5
Thanks for using our mini divison calculator! Come again!

In [56]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is: ", division)
        break
    except Exception as e :
        print("Something went wrong... Try again")
        print("Probably it is because of '{}' error.".format(e))
        break

The first number please : 7
The second number please : 0
Something went wrong... Try again
Probably it is because of 'division by zero' error.

In [58]:
4 + "4"

TypeError: ignored

In [59]:
try :
  4 + "4"
except Exception as variable :
  print(variable)

unsupported operand type(s) for +: 'int' and 'str'