In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
"melek".index("e", 2)

3

In [ ]:
colors = ["red", "blue", "yellow", "green", "pink"]
print(colors.index("red"))
print(colors.index("green"))

0
3

In [ ]:
yas = int(input("Yaşınızı giriniz: "))
if yas >= 18 :
  print("Yaşınız {}. Süper! İçeriye girebilirsiniz.".format(yas))
else:
  print("Yaşınız {}. Reşit değilsiniz. Maalesef içeriye giremezsiniz.".format(yas))

Yaşınızı giriniz: 29
Yaşınız 29. Süper! İçeriye girebilirsiniz.

In [ ]:
yas = int(input("Yaşınızı giriniz: "))
soru = input("Tek başına mısınız?: ")
ikinci = float(input("Yanınızdaki kişi kaç yaşında?: "))
if yas >= 18 :
  if soru == "hayır":
    if ikinci >= 18 :
      print("İçeriye girebilirsiniz.")    
    else :
      print("İçeriye giremezsiniz.")
  else: 
    print("İçeriye giremezsiniz.")
else:
  print("İçeriye giremezsiniz.")

Yaşınızı giriniz: 21
Tek başına mısınız?: hayır
Yanınızdaki kişi kaç yaşında?: 12
İçeriye giremezsiniz.

In [ ]:
satis_miktari = int(input("Aylık satış miktarıızı giriniz: "))

if 0 < satis_miktari <= 100 :
  print("Prim almaya hak kazanamadınız.")
elif 101 < satis_miktari < 150 :
  print("%10 prim kazandınız.")
else :
  print("% 25 prim almaya hak kazandınız.")

Aylık satış miktarıızı giriniz: 180
% 25 prim almaya hak kazandınız.

In [ ]:
print('Welcome to my greengrocer')
fruit = input('Which fruit do you want?: ').strip()
kg = int(input('How much kg do you want fruit?: ').strip())

if fruit == 'cherry':
  amount = kg*10
  print('the amount you have to pay is ',amount)
elif fruit =='fig':
  amount = kg*12
  print('the amount you have to pay is',amount)
elif fruit ==' strawberry':
  amount = kg*6
  print('the amount you have to pay is',amount)
else:
  print('we dont have like this fruit')

Welcome to my greengrocer
Which fruit do you want?: cherry
How much kg do you want fruit?: 15
the amount you have to pay is  150

In [ ]:
isim = input("İsminiz: ").title()
yas = float(input("Yaşınız: "))
egitim = input("Eğitim durumunuz: ").lower()

if yas >= 18 :
  if egitim == "lise" or egitim == "üniversite" :
    print("{} ehliyet alabilirsiniz.".format(isim))
  else :
    print("{} eğitim şartını karşılamıyorsunuz.".format(isim))
else :
  print("{} ehiyet alamazsınız.".format(isim))

İsminiz: ali
Yaşınız: 29
Eğitim durumunuz: üniversite
Ali ehliyet alabilirsiniz.

In [ ]:
yazili1 = float(input('1. yazılı notunuz: '))
yazili2 = float(input('2. yazılı notunuz: '))
sozlu = float(input('Sözlü notunuz: '))

ortalama = round((yazili1 + yazili2 + sozlu) / 3)

if 0 <= ortalama < 25 :
  print("Ortalamanız {}, notunuz: 0".format(ortalama))
elif 25 <= ortalama < 45 :
  print("Ortalamanız {}, notunuz: 1".format(ortalama))
elif 45 <= ortalama < 55 :
  print("Ortalamanız {}, notunuz: 2".format(ortalama))
elif 55 <= ortalama < 70 :
  print("Ortalamanız {}, notunuz: 3".format(ortalama))
elif 70 <= ortalama < 85 :
  print("Ortalamanız {}, notunuz: 4".format(ortalama))
elif 85 <= ortalama <= 100:
  print("Ortalamanız {}, notunuz: 5".format(ortalama))
else:
  print("Yanlış bilgi girdiniz.")

1. yazılı notunuz: 85
2. yazılı notunuz: 97
Sözlü notunuz: 100
Ortalamanız 94, notunuz: 5

In [ ]:
# Girilen bir sayının pozitif çift tam sayı olup olmadığını kontrol eden bir
# program yazınız

sayi = int(input("Sayı: "))
if sayi >= 0 and sayi % 2 ==0 :
  print(sayi, "pozitif bir çift sayıdır.")
elif sayi >= 0 and sayi % 2 == 1 :
  print(sayi, "pozitif bir tek sayıdır.")
elif sayi < 0 and sayi % 2 == 0 :
  print(sayi, "negatif bir çift sayıdır.")
else :
  print(sayi, "negatif bir tek sayıdır.")

Sayı: 24
24 pozitif bir çift sayıdır.

In [ ]:
# Girilen bir sayının pozitif çift tam sayı olup olmadığını kontrol eden bir
# program yazınız

sayi = int(input("Sayı: "))
if sayi >= 0 :
  if sayi % 2 ==0 :
    print(sayi, "bir çift sayıdır.")
  else:
    print(sayi, "pozitif ancak tek sayıdır.")
else:
  print(sayi, "negatif bir sayıdır.")

Sayı: 25
25 pozitif ancak tek sayıdır.

In [ ]:
a,b,c = input(),input(),input()

15
45
87

In [ ]:
left = ['q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b']
right = ['y', 'u', 'i', 'o', 'p', 'h', 'j', 'k', 'l', 'n', 'm']

yazi = list(input("Lütfen bir kelime girin: "))
if yazi[]
print(yazi)

Lütfen bir kelime girin: ahmet
['a', 'h', 'm', 'e', 't']

In [ ]:
left_h = "q, w, e, r, t, a, s, d, f, g, z, x, c, v, b"
right_h = "y, u, i, o, p, h, j, k, l, n, m"
word = set(input("Bir kelime giriniz ").lower())

if word - set(left_h) == set() or word - set(right_h) == set() :
  print(False)
else:
  print(True)

Bir kelime giriniz ali
True

In [ ]:
print("a"+"bc")

abc

In [ ]:
print(22 % 3)

1

In [ ]:
print(3 * 1 ** 3)

3

In [ ]:
rakamlar = "123456"

for rakam in rakamlar :
  print(rakam)

1
2
3
4
5
6

In [ ]:
listea = [False, True, 1, "clarusway"]

for i in listea :
  print(i)

False
True
1
clarusway

In [ ]:
listeb = [False, True, 1, [1, 2]]

for i in listeb :
  print(i)

False
True
1
[1, 2]

In [ ]:
tuple_a = ("akşam", "ders", 1, False)

for i in tuple_a :
  print(i)

akşam
ders
1
False

In [ ]:
sayi = 25

for i in str(sayi) :
  print(i)

2
5

In [ ]:
sayi = 25

for i in str(sayi) :
  print(i, end = "")

25

In [ ]:
sayi = 25

for i in str(sayi) :
  print(i, end = " ")

2 5

In [ ]:
sayi = {"bir" : 1, "iki" : 2, "üç" : 3}

for i in sayi :
  print(i)

bir
iki
üç

In [ ]:
sayi = {"bir" : 1, "iki" : 2, "üç" : 3}

for i, y in sayi.items() :
  print(i, y)

bir 1
iki 2
üç 3

In [ ]:
sayi = {"bir" : 1, "iki" : 2, "üç" : 3}

for i in sayi.values() :
  print(i)

1
2
3

In [ ]:
sayi = {"bir" : 1, "iki" : 2, "üç" : 3}

for i in sayi.keys() :
  print(i)

bir
iki
üç

In [ ]:
for i in range(1,6) :
  print(i, ".dilm pizzanız afiyet olsun")

1 .dilm pizzanız afiyet olsun
2 .dilm pizzanız afiyet olsun
3 .dilm pizzanız afiyet olsun
4 .dilm pizzanız afiyet olsun
5 .dilm pizzanız afiyet olsun

In [ ]:
sayi = {"bir" : 1, "iki" : 2, "üç" : 3}

for i in range(len(sayi)) :
  print(i, ".dilm pizzanız afiyet olsun")

0 .dilm pizzanız afiyet olsun
1 .dilm pizzanız afiyet olsun
2 .dilm pizzanız afiyet olsun

In [ ]:
sayi = {"bir" : 1, "iki" : 2, "üç" : 3}

for i in range(1, len(sayi)) :
  print(i, ".dilm pizzanız afiyet olsun")

1 .dilm pizzanız afiyet olsun
2 .dilm pizzanız afiyet olsun

In [ ]:
for i in range(1, 10) :
  print(i)
  if i == 5 :
    break

1
2
3
4
5

In [ ]:
for i in range(1, 10) :
  print(i)
  if i == 5 :
    continue
    print("elma")

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 10) :
    if i == 5 :
      continue
    print(i)

1
2
3
4
6
7
8
9

In [ ]:
isimler = ["ayşe", "fatma", "mehmet"]
durum = ["üzgün", "mutlu", "neşeli"]

for i in isimler :
  for j in durum :
    print(i, "bugün", j)

ayşe bugün üzgün
ayşe bugün mutlu
ayşe bugün neşeli
fatma bugün üzgün
fatma bugün mutlu
fatma bugün neşeli
mehmet bugün üzgün
mehmet bugün mutlu
mehmet bugün neşeli

In [ ]:
isimler = ["ayşe", "fatma", "mehmet"]
durum = ["üzgün", "mutlu", "neşeli"]

for i in isimler :
  for j in durum :
    print("{} bugün {}".format(i, j))

ayşe bugün üzgün
ayşe bugün mutlu
ayşe bugün neşeli
fatma bugün üzgün
fatma bugün mutlu
fatma bugün neşeli
mehmet bugün üzgün
mehmet bugün mutlu
mehmet bugün neşeli

In [ ]:
isimler = ["ayşe", "fatma", "mehmet"]
durum = ["üzgün", "mutlu", "neşeli"]

list(zip(isimler, durum))

[('ayşe', 'üzgün'), ('fatma', 'mutlu'), ('mehmet', 'neşeli')]

In [ ]:
isimler = ["ayşe", "fatma", "mehmet"]
durum = ["üzgün", "mutlu", "neşeli"]

for i in range(len(isimler)) :
  for j in range(len(durum)) :
    print(isimler[i], "bugün", durum[j])

ayşe bugün üzgün
ayşe bugün mutlu
ayşe bugün neşeli
fatma bugün üzgün
fatma bugün mutlu
fatma bugün neşeli
mehmet bugün üzgün
mehmet bugün mutlu
mehmet bugün neşeli

In [ ]:
# 1
# 12
# 123
# 1234 --> Bu döngü kaç defa çalışmış? ---> 4 defa

n = int(input(""))

for i in range(n) :
  for j in range (1, i + 1) :
    print(j, end = " ")
  print()

5

1
1 2
1 2 3
1 2 3 4

In [ ]:
# 1-12-123-1234 Pattern up to n lines

n = int(input("Enter number of rows: "))

for i in range(1,n+1): # i aracı
    for j in range(1, i+1):
        print(j, end="")
    print()

Enter number of rows: 5
1
12
123
1234
12345

In [ ]:
rows = 4

for i in range(rows) :
  for j in range (i + 1) :
    print(j + 1, end = " ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

In [ ]:
anaPara = 1000.0
kar = 0.07
zaman = 1

while zaman <= 7:
  anaPara += anaPara*kar
  print(zaman, '.Gün Toplam: ', anaPara)
  zaman += 1

1 .Gün Toplam:  1070.0
2 .Gün Toplam:  1144.9
3 .Gün Toplam:  1225.0430000000001
4 .Gün Toplam:  1310.79601
5 .Gün Toplam:  1402.5517307
6 .Gün Toplam:  1500.730351849
7 .Gün Toplam:  1605.78147647843

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [ ]:
okul_mumarasi = input("Okul numaranızı giriniz:")
no = str(okul_numarasi)
d1 = dict(giri)

In [ ]:
#Baska Bir Kod - Python Soru / Cevap 
sayi = int(input("Sayi Giriniz:"))

toplam=0

for i in range(1,sayi):
    print(i)
    if(sayi%i == 0):
        toplam +=i
        
if(sayi == toplam):
    print("Mükemmel Sayidir.")
else:
    print("Mükemmel Sayi Degildir")

Sayi Giriniz:6
1
2
3
4
5
Mükemmel Sayidir.

In [ ]:
#Baska Bir Kod - Python Soru / Cevap 
sayi = int(input("Sayi Giriniz:"))

toplam=0

for i in range(1,sayi):
    if(sayi%i == 0):
        toplam +=i
        print(i)
        
if(sayi == toplam):
    print("Mükemmel Sayidir.")
else:
    print("Mükemmel Sayi Degildir")

Sayi Giriniz:6
1
2
3
Mükemmel Sayidir.

In [ ]:
# Write a Python program to compute the greatest common divisor (GCD) of
# two positive integers.

num1 = int(input("Birinci sayıyı giriniz: "))
num2 = int(input("İkinci sayıyı giriniz: "))

bolen = min(num1, num2)

for i in range(1, bolen+1):
  if num1 % i == 0 and num2 % i == 0 :
    ebob = i

print(ebob)

Birinci sayıyı giriniz: 10
İkinci sayıyı giriniz: 25
5

In [ ]:
str1 = 'I am 25 years and 10 months old'
# output = 2510

digit_str = ""
for i in str1 :
  if i.isdigit() :
    digit_str += i

print(digit_str)

2510

In [ ]:
for i in range(5,0,-1):
  print(i * "*")

*****
****
***
**
*

In [ ]:
row = 5

for i in range(row, 0, -1):
  for j in range(0, i):
    print("*", end="")
  print()

*****
****
***
**
*

In [ ]:
for k in range(5,0,-1):
    for i in range(k):
        print("*", end= " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6) :
  print(i * "*")

*
**
***
****
*****

In [ ]:
lista = [74, 41, 12, 9, 3, 15]
# minimumu bul

enkucuk = lista[0]

for i in lista :
  if i < enkucuk :
    enkucuk = i

print(enkucuk)

3

In [ ]:
lista = [3, 41, 12, 9, 74, 15]
# maksimumu bul

enbuyuk = lista[0]

for i in lista :
  if i > enbuyuk :
    enbuyuk = i

print(enbuyuk)

74

In [ ]:
left_h = "q, w, e, r, t, a, s, d, f, g, z, x, c, v, b"
right_h = "y, u, i, o, p, h, j, k, l, n, m"

word = set(input("Bir kelime giriniz ").lower()) # set >>> küme

if word - set(left_h) == set() or word - set(right_h) == set() :
  print(False, "Uncomfortable word")
else:
  print(True, "& Comfortable word")

Bir kelime giriniz clarusway
True & Comfortable word

In [ ]:
print(set("abcd") - set("ab"))

{'c', 'd'}

In [ ]:
# Kullanıcıdan alınan iki sayının ortak bölenlerini yazdıran
# bir program yazınız

num1 = int(input("Birinci sayıyı giriniz: "))
num2 = int(input("İkinci sayıyı giriniz: "))

bolenler = []

for i in range(1, min(num1,num2) + 1) :
  if num1 % i == 0 and num2 % i == 0 :
    bolenler += [i]

print(* bolenler)
print(bolenler)

Birinci sayıyı giriniz: 32
İkinci sayıyı giriniz: 8
1 2 4 8
[1, 2, 4, 8]

In [ ]:
# Kullanıcıdan alınan iki sayının ortak bölenlerini yazdıran
# bir program yazınız

num1 = int(input("Birinci sayıyı giriniz: "))
num2 = int(input("İkinci sayıyı giriniz: "))

bolenler = []

for i in range(min(num1,num2)) :
  if num1 % i == 0 and num2 % i == 0 :
    bolenler.append(i)

print(* bolenler)

Birinci sayıyı giriniz: 9
İkinci sayıyı giriniz: 12

ZeroDivisionError: ignored

In [ ]:
num = int(input("Bir sayı giriniz: "))
for i in range(1,11) :
  print("{} x {} = {}".format(num, i, num * i))

Bir sayı giriniz: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
liste = ["melek", "alan", "canakkale"]
list(map(str.upper, liste))

['MELEK', 'ALAN', 'CANAKKALE']

In [ ]:
# 50 lira ile 4 tane oyuncak aldık

count = 0
total = 0
budget = 50
toys = [1, 12, 5, 111, 200, 1000, 10]

sorted(toys)

for i in sorted(toys):
  if total + i <= budget :
    count += 1
    total += i
  else :
    break

print(count)
print((budget - total), "liranız kaldı.")

4
22 liranız kaldı.

In [ ]:

# Python Program to Find the Factorial of a Number
# The factorial of a number is the product of all the integers from 1 to that
# number.
# For example, the factorial of 6 is 1*2*3*4*5*6 = 720. Factorial is not defined
# for negative numbers, and the factorial of zero is one, 0! = 1.

n = int(input("Faktöriyelini hesaplamak istediğiniz sayıyı girin."))
faktoriyel = 1
for i in range(n, 0, -1) :
  faktoriyel *= i
print(faktoriyel)

Faktöriyelini hesaplamak istediğiniz sayıyı girin.5
120

In [ ]:
sayi = int(input("Faktöriyelini hesaplamak istediğiniz sayıyı giriniz:"))
faktoriyel = 1
for i in range(sayi):
    faktoriyel = faktoriyel * (i+1)
 
print("Faktoriyel : ", faktoriyel)

Faktöriyelini hesaplamak istediğiniz sayıyı giriniz:5
Faktoriyel :  120

In [ ]:
# Hipotenüs Hesaplama

a = int(input("a kenarını giriniz: "))
b = int(input("b kenarını giriniz: "))

c = (a**2 + b**2)**(1/2)
print(int(c))

a kenarını giriniz: 5
b kenarını giriniz: 12
13

In [ ]:
# Vücut Kitle İndeksini Hesaplayan Program

boy = float(input("Boy giriniz: "))
kilo = float(input("Kilo giriniz: "))

indeks = kilo / (boy**2)

if indeks <= 18.5 :
  print("Zayıf")
elif 18.5 < indeks <= 25 :
  print("Normal")
elif 25 < indeks <= 30:
  print("Kilolu")
elif indeks > 30:
  print("Obez")

Boy giriniz: 1.88
Kilo giriniz: 81
Normal

In [ ]:
rows = int(input("Satır sayısını girin: "))

ascii_value = 65

for i in range(rows):
  for j in range(i+1):
    alphabet = chr(ascii_value)
    print(alphabet, end = " ")

  ascii_value += 1
  print()

Satır sayısını girin: 12
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J
K K K K K K K K K K K
L L L L L L L L L L L L

In [ ]:
numbers = [2, 4, 6, 4, 7, 8, 9, 1, 10]

cift_sayilar = []
tek_sayilar = []

for i in numbers:
  if i % 2 == 0:
    cift_sayilar.append(i)
  elif i % 2 == 1:
    tek_sayilar.append(i)

print(sorted(set(cift_sayilar))) # 4 sayısı bir daha yazılmasın diye set kullandım
print(sorted(set(tek_sayilar)))

[2, 4, 6, 8, 10]
[1, 7, 9]

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

A

In [ ]:
a = 400
b = 200

if b > a:
  pass

In [ ]:
a = 400
b = 200

if b > a:

SyntaxError: ignored

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits :
  if x == "banana" :
    continue
  print(x)

apple
cherry

In [ ]:
sayilar = list(range(1,10))
print(sayilar)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sayilar = list(range(1,10))
for x in sayilar :
  if x == 7 :
    break
  print(x, end = " ")

1 2 3 4 5 6

In [ ]:
i = 1
while i <= 6 :
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
pascal = [[1]]
num = int(input("Number of iterations: "))
print(pascal[0]) # the very first row
for i in range(1,num+1):
    pascal.append([1]) # start off with 1
    for j in range(len(pascal[i-1])-1):
    # the number of times we need to run this loop is (# of elements in the row above)-1
        pascal[i].append(pascal[i-1][j]+pascal[i-1][j+1])
        # add two adjacent numbers of the row above together
    pascal[i].append(1) # and cap it with 1
    print(pascal[i])

Number of iterations: 5
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

In [ ]:
# Girilen iki kelime birbiri içinde var mı?

s1, s2 = input(""), input("")
print((s1 in s2) or (s2 in s1))

gozde
goz
True

In [ ]:
# Girilen iki rakam birbiri içinde var mı?
s1, s2 = str(input("")), str(input(""))
print((s1 in s2) or (s2 in s1))

123
1234
True

In [ ]:
string1 = input("Lütfen ilk kelimeyi girin: ")
string2 = input("Lütfen ikinci kelimeyi girin: ")
new1 = set(string)

In [ ]:
for i in range(n):
    
    print(' '*(n-i), end='')
 
    print(' '.join(map(str, str(11**i))))

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 6 1 0 5 1
 1 7 7 1 5 6 1

In [ ]:
n = int(input(""))
papatya = ["Loves me", "Loves me not" ]
yeni_papatya = []
if n == 1 :
  print(papatya[0].upper())
else:
  for i in range(1,n + 1) :
    if i % 2 == 1 :
      yeni_papatya += [papatya[0]]
    elif i % 2 == 0 :
      yeni_papatya += [papatya[1]]
  yeni_papatya  = yeni_papatya[:-1] + [yeni_papatya[-1].upper()]
  print(", ".join(yeni_papatya))

7
Loves me, Loves me not, Loves me, Loves me not, Loves me, Loves me not, LOVES ME

In [ ]:
all("a")

True

In [ ]:
any("a")

True

In [ ]:
liste = [5, 6, 4, 9, 25, 15, 60]
sayı = int(input("Bir sayı giriniz: "))
for i in liste :
  if i > sayı :
    print("Girdiğiniz sayı listedeki sayılardan küçüktür.")
    break    
else :
  print("Girdiğiniz sayı listedeki bütün sayılardan büyüktür.")

Bir sayı giriniz: 125
Girdiğiniz sayı listedeki bütün sayılardan büyüktür.

In [ ]:
liste = []
for i in range(1, 5):
  liste += [i]
print(liste)

[1, 2, 3, 4]

In [ ]:
[i for i in range(1,5)]

[1, 2, 3, 4]

In [ ]:
[i for i in range(1,10) if i % 2 == 0]

[2, 4, 6, 8]

In [ ]:
lista = list(map(int, input("").split()))
number = int(input(""))

In [ ]:
lista = list(map(int, input("").split()))
lista

5 6 89 2 45 63 47 12 11

[5, 6, 89, 2, 45, 63, 47, 12, 11]

In [ ]:
lista = list(map(int, input("").split()))
number = int(input(""))
liste = [i > number for i in lista]
liste

5 6 4 2 55 41 23 5
20

[False, False, False, False, True, True, True, False]

In [ ]:
lista = list(map(int, input("").split()))
number = int(input(""))
liste = all([i > number for i in lista])
liste

5 6 4 2 25 41
20

False

In [ ]:
lista = list(map(int, input("").split()))
number = int(input(""))
liste = any([i > number for i in lista])
liste

5 6 4 2 25 41
20

True

In [ ]:
if True:
    print('it is true')

it is true

In [ ]:
empty_seat = 14

if empty_seat > 3:  # in this case, 14>3=True, so the body will execute
    print('there is still seat to sit')

there is still seat to sit

In [ ]:
x = 6
y = 9
print ("is x equal to y?                 :" , x == y)
print ("is x not equal to y?             :" , x != y)
print ("is x less than y?                :" , x < y)
print ("is x greater than y?             :" , x > y)
print ("is x less than or equal to y?    :" , x <= y)
print ("is x greater than or equal to y? :" , x >= y)

is x equal to y?                 : False
is x not equal to y?             : True
is x less than y?                : True
is x greater than y?             : False
is x less than or equal to y?    : True
is x greater than or equal to y? : False

In [ ]:
course = 'clarusway'

if course == "clarusway":
    print("you guaranteed the job")
else:
    print("think about it again")

you guaranteed the job

In [ ]:
number = 5
if number <= 3:    
    print("Number is smaller than or equal to 3") 
else:  # Optional clause (you can only have one else)
    print("Number is bigger than 3")

Number is bigger than 3

In [ ]:
basket = ['apple', 'peach', 'blackberry']
fruit = '....'
if fruit not in basket :
  print("I can have a little")
else :
  print("I have already")

I can have a little

In [ ]:
weight = 80

if weight > 100:
    print("That's too heavy!")
elif weight > 75:
    print("I can lift that!")
else:
    print("That's too light!")

I can lift that!

In [ ]:
audience = "baby"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [ ]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [ ]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Enter your score :97
Your degree: A+

In [ ]:
number = 0

while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')

0
1
2
3
4
5
now, number is bigger or equal to 6

In [ ]:
my_list=["a", "b", "c", "d", "e"]

a = 0

while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  56
Little lower
What number am I thinking of?  15
Little higher
What number am I thinking of?  44
Are you a MINDREADER!!!

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1 > 0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [ ]:
for i in [1, 2, 3, 4, 5] :
    print(i)

1
2
3
4
5

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for season in seasons :
    print(season)

spring
summer
autumn
winter

In [ ]:
iterable = [1, 2, 3, 4]

for number in iterable :
    print(number ** 2)

1
4
9
16