In [ ]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

example2 = '71'
print(type(example2))

example3 = 71
print(type(example3))

example4 = 71.0
print(type(example4))

example5 = 3.14j
print(type(example5))

example6 = True
print(type(example6))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [ ]:
f = 3.14  # the type is float
print(type(f)) 

f = 3.14  # the type is float

s = str(f)  # converting float to string
print(type(s))

# XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded
print(i, '\n')
print(type(i))

# XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

i = 3

f = float(i)
print(f, '\n')
print(type(f))

<class 'float'>
<class 'str'>
3

<class 'int'>
3.0

<class 'float'>

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [ ]:
a = 10

# Output: <class 'str'>

print(type(str(a)))

<class 'str'>

In [ ]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [ ]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [ ]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [ ]:
print(4 + 11) # sum of integers gives integer

15

In [ ]:
print(39 + 1.0) # sum of an integer and float gives float

40.0

In [ ]:
no1, no2 = 46, 52
no3 = no1 - no2
print(no3)

-6

In [ ]:
no1 = 46
print(no1/23)  # division gives float

2.0

In [ ]:
print((3 * 4)/2)  # parentheses are used as in normal mathematics operations

6.0

In [ ]:
print(7 // 2)  # it gives integer part of division

3

In [ ]:
print(9 % 2)  # remainder of this division is 1
# it means 9 is an odd number

1

In [ ]:
print(3**2)

9

In [ ]:
print(2**3)

8

In [ ]:
print(64**0.5)  # square root

8.0

In [ ]:
print('Result of this (12+7) sum :', 12 + 7)

Result of this (12+7) sum : 19

In [ ]:
There is a list of priorities for all considered operations: it is worth keeping this priority in your mind.

parentheses : ()
power : **
unary minus : -3
multiplication and division : *, /
addition and subtraction : +, -

In [ ]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [ ]:
print("yesterday I ate", 2, "apples") # When using print() we can write more than one expression in parentheses separated by 👉🏻,

yesterday I ate 2 apples

In [ ]:
When you type more than one expression in print(), you notice that the expressions are joined to each other by spaces. This is due to the default value of keyword argument sep in the print() function. This argument, which is defined as a space 👉🏻" " by default, is not visible in the background in the print().

The print() command automatically switches to the next line. This is due to the keyword argument end = "\n"

Here are the keyword arguments that run in the background of the print() function :

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

👉🏻\n represents next line.

Let's focus on the arguments sep= and end= we discussed above:

In [ ]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

# If you noticed, in the example above we have combined all expressions with space in a single
# line using the 👉🏻end= If we didn't use end=' ', we would normally get 4 lines of output.

i will say 'i missed you' to my mother

In [ ]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [ ]:
x = 5
print ('value of x       : ', x)

x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z       : ', z)

z *= 2
print ("2 times z        : ", z, "\n")

value of x       :  5
2 more of x      :  7

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

In [ ]:
fruit = 'Orange'
vegetable = "Tomato"
print (fruit, """ and """ , vegetable)

Orange  and  Tomato

In [ ]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [ ]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [ ]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

we are united

In [ ]:
print('it\'s funny to learn Python')

# Normally when we use 👉🏻' inside the 👉🏻' ', Python will give error. Because single-quote in single
# quotes gives an error. But here, in the example below, 👉🏻\ allows single-quote 👉🏻' to be ignored.
# So it gives no error.

it's funny to learn Python

In [ ]:
text = 'asdf'
text2 = 'ghjk'
print(text + text2)

asdfghjk

In [ ]:
logic = True and False or not False or False
print(logic)

True

In [ ]:
# The following values are considered False, in that they evaluate to False when applied to a boolean operator:
#
# None.
# Zero of any numeric type: 0, 0.0, 0j
# Empty sequences and collections: '', [], {}.
# Other than above values, any remaining value is evaluated as True.

In [ ]:
print(2 and 3)

3

In [ ]:
print(1 and 0)

0

In [ ]:
print(1 and "I am doing good!") # İki değer de True olduğu için sonuncu True değeri döndürdü

I am doing good!

In [ ]:
print([] and "Hello World!")

[]

In [ ]:
print(2 or 3)

2

In [ ]:
print(None or 1)

1

In [ ]:
print(0 or {})

{}

In [ ]:
print([] or "Hello World!")

Hello World!

In [ ]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [ ]:
# string[:] : returns the full copy of the sequence

# string[start:] : returns elements from start to the end element

# string[:stop] : returns element from the 1st element to stop-1

# string[::step] : returns each element with a given step

In [ ]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [ ]:
# You can use the len() function to find out the length (number of characters) of a text or a variable of any type.

vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [ ]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [ ]:
print('clarus' + 'way')

clarusway

In [ ]:
print(3*'no way!')

no way!no way!no way!

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [ ]:
fruit = 'orange'
fruit += ' apple'

print(fruit)

orange apple

In [ ]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

In [ ]:
fruit1 = 'Apple'
fruit2 = 'Orange'

print(2 * fruit1 + ' ' + 3 * fruit2 )

AppleApple OrangeOrangeOrange

In [ ]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

In [ ]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence)  # we get first 11 characters of the string

apologizing

In [ ]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

# Bu örnekte amount ve fruit olmak üzere iki değişken kullandık. Fark ettiyseniz,
# küme parantezleri '{}' içindeki değişkenlere değerler atadık. Bu format sonraki
# derslerde öğreneceğiniz bir dictionary türüdür.

33 pounds of bananas left

In [ ]:
x = "HelloWorld!"
print('%.5s' % x)

Hello

In [ ]:
# As in this example below, the value of expression comes from .format() method in order.
# Curly braces 👉🏻{} receives values from .format()

fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [ ]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [ ]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

# Positional arguments are arguments that can be called by their position in the function or method definition.
# Keyword arguments are arguments that can be called by their names.
# Be careful not to write keyword arguments before positional arguments.

California is the most crowded state of the USA

In [ ]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [ ]:
# The unordered words of a sentence are given below. Write a code to set them in order and
# print "Good teachers know how to bring out the best in students." using .format() method.

print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [ ]:
# String Formatting with 'f-string'

fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [ ]:
result = f"{4 * 5}"

print(result)

20

In [ ]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

My name is Joseph

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.