**05_November_Python_Recap**

In [8]:
countries = "Türkiye, Singapur, Malezya, Lübnan, Kanada, Portekiz, Japonya"
country = countries.split(" ", 4)
print(*country, sep = "\n")

Türkiye,
Singapur,
Malezya,
Lübnan,
Kanada, Portekiz, Japonya

In [10]:
countries = "Türkiye, Singapur, Malezya, Lübnan, Kanada, Portekiz, Japonya"
country = countries.split(" ", 4)
print(country)

['Türkiye,', 'Singapur,', 'Malezya,', 'Lübnan,', 'Kanada, Portekiz, Japonya']

In [11]:
text = "Soru çözümüyle kodlama becerim gelişiyor."
a = text.split()
print(min(a, key = len))

Soru

In [5]:
text = "Ahmet"
print(*text, sep = "\n")

A
h
m
e
t

In [6]:
text = "Ahmet"
print(*text)

A h m e t

In [13]:
# map(func, iter1)
list1 = [1,2,3,4,5]
list2 = list(map(float, list1))
print(list2)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [16]:
def discount(x) :
  return x - ((x * 20) / 100)
price = [15.2, 17, 10, 22.9, 16.5, 7.7, 11]
new_price = list(map(discount, price))
print(new_price)

[12.16, 13.6, 8.0, 18.32, 13.2, 6.16, 8.8]

In [17]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]
print(dict(zip(list1, list2)))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [18]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]
print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [19]:
list1 = [1,2,3]
list2 = ["a","b","c","d","e"]
print(dict(zip(list1, list2)))

{1: 'a', 2: 'b', 3: 'c'}

In [22]:
list1 = [1,2,3]
list2 = ["a","a","a","a","e"]
print(list(zip(list1,set(list2))))

[(1, 'a'), (2, 'e')]

In [24]:
std = ["ahmet", "tarık", "müzeyyen"]

new_std = list(enumerate(std))
print(new_std)

[(0, 'ahmet'), (1, 'tarık'), (2, 'müzeyyen')]

In [25]:
std = ["ahmet", "tarık", "müzeyyen"]

new_std = list(enumerate(std,9000))
print(new_std)

[(9000, 'ahmet'), (9001, 'tarık'), (9002, 'müzeyyen')]

In [29]:
std = ["ahmet", "tarık", "müzeyyen"]

new_std = list(enumerate(std,9000))
print(sorted(new_std, reverse = True))

[(9002, 'müzeyyen'), (9001, 'tarık'), (9000, 'ahmet')]

Q - 1) Verilen listeden {id : name} olacak şekilde dict oluşturunuz. 
- test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4]
- output: {1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

In [30]:
test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4]
name_list = test_list[::2]
id_list = test_list[1::2]
new_dict = dict(zip(id_list, name_list))
print(new_dict)

{1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

Q - 2) Kullanıcıdan alınan 5 sayı içerisinden en büyük 2. sayıyı bulan kodu yazınız.

- map() ve split() kullanalım.

In [34]:
numbers = list(map(int, input("Enter five numbers: ").split()))
print(numbers)
second_max = sorted(set(numbers))[-2]
print(second_max)

Enter five numbers: 10 15 20 -20 11
[10, 15, 20, -20, 11]
15

In [37]:
count, fruit, price = (2, 'apple', 3.5)
my_tuple = (2, 'apple', 3.5)
for i in range(len(my_tuple)) :
  print(my_tuple[i])

2
apple
3.5

Q - 3) Kullanıcıdan alınan sayının negatif veya pozitif olduğunu bulan kodu yazınız.

In [42]:
number = float(input("Please enter a number: "))
if number > 0 :
  print("Positive")
elif number < 0 :
  print("Negative")
elif number == 0 :
  print("Number is zero")

Please enter a number: 0
Number is zero

Q - 4) E-mail ve parola bilgileri ile giriş kontrolü yapan programı yazınız.

In [47]:
email = "D999@clarusway.com"
pswrd = "d999"

ent_mail = input("Please enter your mail :")
ent_pswrd = input("Please enter your password :")

while True :
  if ent_mail == "D999@clarusway.com" and ent_pswrd == "d999" :
    print("You have successfully logged in!")
    break
  elif ent_mail != "D999@clarusway.com" and ent_pswrd == "d999" :
    print("**Please check your email**")
    ent_mail = input("Please enter your mail :")
    ent_pswrd = input("Please enter your password :")
  elif ent_mail == "D999@clarusway.com" and ent_pswrd != "d999" :
    print("**Please check your password**")
    ent_mail = input("Please enter your mail :")
    ent_pswrd = input("Please enter your password :")
  elif ent_mail != "D999@clarusway.com" and ent_pswrd != "d999" :
    print("**Please check your email and password**")
    ent_mail = input("Please enter your mail :")
    ent_pswrd = input("Please enter your password :")

Please enter your mail :D999@clarusway.com
Please enter your password :1234
**Please check your password**
Please enter your mail :D989@clarusway.com
Please enter your password :d999
**Please check your email**
Please enter your mail :D998@clarusway.com
Please enter your password :1234
**Please check your email and password**
Please enter your mail :D999@clarusway.com
Please enter your password :d999
You have successfully logged in!