**split()**

In [3]:
text = "Hello, dear, friends"

print(text.split(","))

['Hello', ' dear', ' friends']

In [ ]:
text = "For testing parameter: Londra, Prag, Canada, Beyrut, Isfahan, Phuket, Tokyo"

In [17]:
countries = "Türkiye, Singapur, Malezya, Lübnan, Kanada, Portekiz, Japonya"

country = countries.split(",", 1 )
print(country)
# print(*country, sep="\n")
# print(countries)

['Türkiye', ' Singapur, Malezya, Lübnan, Kanada, Portekiz, Japonya']

In [13]:
text= "ahmetahmet"
print(*text, sep="\n")

a
h
m
e
t
a
h
m
e
t

In [18]:
# cümledeki en kısa kelime nedir ve kaç karakterden oluşuyor.
text = " soru cozumuyle kodlama becerim gelisiyor."

a = text.split()
print(min(a,key=len))

en_kısa = min(text.split(), key=len)
print("en kısa kelime '{}' ve {} karakterden oluşmaktadır.".format(en_kısa,len(en_kısa)))

soru

**map()**

In [22]:
# map(func,iter1)
list1 = [1,2,3,4,5]

list2= list(map(float,list1))
list3 = float(list1[0])
print(list3)
print(list2)

1.0
[1.0, 2.0, 3.0, 4.0, 5.0]

In [24]:
def discount(x):
  return x-((x*20)/100)

price = [15.2, 17, 10, 22.9, 16.5, 7.7, 11]

new_price = list(map(discount,price))

print(new_price)

[12.16, 13.6, 8.0, 18.32, 13.2, 6.16, 8.8]

**zip()**

In [26]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]

print(dict(zip(list1,list2)))
print(list(zip(list1,list2)))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [34]:
list1 = [1,1,2,2]
list2 = ["a","a","b","b","e"]

print(set(zip(list1,list2)))

{(1, 'a'), (2, 'b')}

In [43]:
std = ["ahmet", "tarık","müzeyyen"]

new_std = list(enumerate(std,5))
print(sorted(new_std,reverse=True))

[(7, 'müzeyyen'), (6, 'tarık'), (5, 'ahmet')]

Q-1) Verilen listeden {id:name} olacak şekilde dict oluşturunuz.

*   test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4] 
*   output : {1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

In [49]:
test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4]
# name_list =[start:end:step]
name_list =test_list[0::2]
id_list = test_list[1::2]

new_dict =dict(zip(id_list,name_list))
print(new_dict)

{1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

Q-2) Kullanıcıdan alınan 5 sayı içerisinden en büyük 2. sayıyı bulan kodu yazınız.

*   map() ve split() kullanalım.

In [54]:
numbers = list(map(int,input("enter five number: ").split()))


sec_max = sorted(set(numbers))[-2]
print(numbers)
print(set(numbers))
print(sorted(set(numbers)))
print(sec_max)

enter five number: -3 -3 -5 2 4
[-3, -3, -5, 2, 4]
{2, -5, 4, -3}
[-5, -3, 2, 4]
2

Q-3) Kullanıcıdan alınan değer kadar numbers listesinin elemanlarını sağa kaydıran kodu yazınız.

*   numbers = [2,3,5,7,11,44,34]

Q-4) Kullanıcıdan alınan sayının negatif veya pozitif olduğunu bulan kodu yazınız.

In [57]:
a = int(input("enter number: "))

if a>0:
  print("positive")
elif a<0:
  print("negative")
elif a==0:
  print("number is zero")

enter number: -5
negative

Q-5) Kullanıcıdan 2 değer ve işlemi alıp sonucunu döndüren basit bir hesap makinesi programı yazınız.

*   "1" Toplama
*   "2" Çıkarma
*   "3" Çarpma
*   "4" Bölme

Q-6) E-mail ve parola bilgileri ile giriş kontrolü yapan programı yazınız.


*   email = 'D999@clarusway.com'
*   pswrd = 'd999'

In [61]:
email = 'D999@clarusway.com'
pswrd = 'd999'

ent_mail = input("enter mail : ")
ent_pswrd = input("enter password: ")

if (ent_mail ==email and ent_pswrd ==pswrd):
  print("başarılı")
else:
  print("başarısız")


# if (ent_mail !=email and ent_pswrd ==pswrd):
#   print("Wrong email address")
# elif(ent_mail ==email and ent_pswrd !=pswrd):
#   print("wrong password")
# elif(ent_mail !=email and ent_pswrd !=pswrd):
#   print(" wrong email and password")
# else:
#   print("login successfull")

enter mail : D999@clarusway.com
enter password: d999
başarılı

Q-7) Kullanıcıdan alınan boy ve kilo değerlerine göre beden kitle indeksini hesaplayın ve şu kurallara göre ekrana şu yazıları yazdırın.
     
     BKİ 18.5'un altındaysa -------> Zayıf
     
     BKİ 18.5 ile 25 arasındaysa ------> Normal
     
     BKİ 25 ile 30 arasındaysa --------> Fazla Kilolu
     
     BKİ 30'un üstündeyse -------------> Obez

Not: Beden Kitle İndeksi: Kilo / Boy(m) *  Boy(m)

Q-8) Kullanıcıdan alınan 3 sayıdan en büyüğünü bulan kodu yazınız.