**Exercise - 076 | ?list() | ?map() | ?input() | ?split() | ?comprehension | ?for loop | ?count() | ?set() | ?def**

There is an array with some numbers. All numbers are equal except for one. Try to find it!

find_uniq([ 1, 1, 1, 2, 1, 1 ]) == 2

find_uniq([ 0, 0, 0.55, 0, 0 ]) == 0.55

Itâ€™s guaranteed that array contains at least 3 numbers.
The tests contain some very huge arrays, so think about performance.
This is the first kata in series:

1. Find the unique number (this kata)

2. Find the unique string

3. Find The Unique

In [1]:
def find_uniq(arr):
    return [j for j in set(arr) if arr.count(j) == 1][0]
    
print(find_uniq([ 1, 1, 1, 1, 1, 2]))

def find_uniq(arr):
    a, b = set(arr)
    return a if arr.count(a) == 1 else b
    
print(find_uniq([ 1, 1, 1, 1, 1, 2]))

2
2

In [2]:
def find_uniq(array):
    return [i for i in set(array) if array.count(i) == 1][0]
    
print(find_uniq([ 1, 1, 1, 1, 1, 2]))

2

In [3]:
num_list = list(map(int, input("Please enter a list of number by seperating with space: ").split()))
for i in num_list :
  if num_list.count(i) == 1 :
    print(i)

Please enter a list of number by seperating with space: 1 2 1 1 1 5 5
2

In [4]:
array = [ 1, 1, 1, 1, 1, 2]
liste = [i for i in set(array) if array.count(i) == 1]
print(liste)

[2]