**Exercise - 157**

A newly opened multinational brand has decided to base their company logo on the three most common characters in the company name. They are now trying out various combinations of company names and logos based on this condition. Given a string , which is the company name in lowercase letters, your task is to find the top three most common characters in the string.


- Print the three most common characters along with their occurrence count.
- Sort in descending order of occurrence count.
- If the occurrence count is the same, sort the characters in alphabetical order.

**Input Format**

A single line of input containing the string.

**Constraints**

- has at least  distinct characters

**Sample Input**

aabbbccde

**Sample Output**

b 3

a 2

c 2

**Explanation**

Here, b occurs  times. It is printed first.

Both a and c occur  times. So, a is printed in the second line and c in the third line because a comes before c in the alphabet.

**Note:** The string  has at least  distinct characters.

In [1]:
s = "aabbbccde"
common = sorted([[i, s.count(i)] for i in set(s)])
common.sort(key = lambda x : x[-1], reverse = True)
for i in common[:3] :
  print(*i)

b 3
a 2
c 2

In [2]:
s = "aabbbccde"
common = sorted([[i, s.count(i)] for i in set(s)])
common

[['a', 2], ['b', 3], ['c', 2], ['d', 1], ['e', 1]]

In [4]:
common.sort(key = lambda x : x[-1], reverse = True)
common

[['b', 3], ['a', 2], ['c', 2], ['d', 1], ['e', 1]]

In [ ]:
s = "aabbbccde"
common = sorted([[i, s.count(i)] for i in set(s)])
common.sort(key = lambda x : x[-1], reverse = True)
for i in common[:3] :
  print(*i)

In [6]:
s, my_dict = "aabbbccde", {}
for i in s :
  if i in my_dict :
    my_dict[i] += 1
  else :
    my_dict[i] = 1
my_dict

{'a': 2, 'b': 3, 'c': 2, 'd': 1, 'e': 1}

In [17]:
s, my_dict = "aabbbccde", {}
for i in s :
  if i in my_dict :
    my_dict[i] += 1
  else :
    my_dict[i] = 1
s = sorted(my_dict.items(), key=lambda x: x[1], reverse=True)
for i in s[:3] :
  print("{} {}".format(i[0], i[1]))

b 3
a 2
c 2

In [14]:
d = {"Massa": 50, "Hamilton": 34, "Vettel": 15, "Alonso": 34}

s = sorted(d.items(), key=lambda x: x[1], reverse=True)

for i in s:
    print("{} {}".format(i[0], i[1]))

Massa 50
Hamilton 34
Alonso 34
Vettel 15